@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// chat
.chat {
  //background-color: rgb(83 118 83);
  //background-image: url("../images/bg-telegram.webp");
  //background-image: url("../images/bg2.png");
  //background-image: url("../images/bg3.svg");
  //background-repeat: repeat;
  //background-size: 25% auto;
  //background-position: center;
  display: flex;
  flex-direction: column;
  border-radius: 3rem 3rem 0 0;
  overflow: hidden;
  transform: translateY(30rem) scale(.85);
  opacity: 0;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.08);
  transition: height 100ms ease, transform 700ms ease-in-out, opacity 700ms ease-in-out;

  @include mobile {
    background-image: none;
    background-color: rgba(156, 156, 156, 0.3);
    backdrop-filter: blur(1rem);
  }

  &.shown {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  .chat-advantages {
    padding-block: 1.5rem;
    padding-inline: 1rem;

    @media (prefers-color-scheme: no-preference) {
      background-color: $white;
    }

    @media (prefers-color-scheme: light) {
      background-color: $white;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $primary;
    }

    @include mobile  {
      padding-block: 3rem;
      padding-inline: 2rem;
    }

    &__list {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      gap: 1rem 0;

      @include mobile  {
        gap: 2rem 0;
      }

      @include tablet {
        grid-template-columns: .75fr .47fr .95fr;
        gap: 0 2rem;
      }
    }

    &__item {
      display: grid;
      align-items: center;
      grid-template-columns: 3rem 1fr;
      gap: 0 1rem;
      cursor: pointer;

      @include mobile  {
        grid-template-columns: 4rem 1fr;
      }

      &:hover {
        .chat-advantages__icon {
          transform: scale(1.05);
        }
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      transition: transform $transition-default;

      @media (prefers-color-scheme: no-preference) {
        background-color: $primary;
      }

      @media (prefers-color-scheme: light) {
        background-color: $primary;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $white;
      }

      @include mobile  {
        width: 4rem;
        height: 4rem;
      }

      svg {
        /*width: 2.2rem;
        height: 2.2rem;*/
        width: 70%;
        height: 70%;

        @media (prefers-color-scheme: light) {
          color: $white;
        }

        @media (prefers-color-scheme: dark) {
          color: $primary;
        }

        @include mobile  {
          /*width: 2.5rem;
          height: 2.5rem;*/
        }
      }
    }

    &__text {
      font-size: 1.3rem;
      line-height: 1.4;
      font-weight: 600;
      max-width: 25rem;

      @media (prefers-color-scheme: light) {
        color: $primary;
      }

      @media (prefers-color-scheme: dark) {
        color: $white;
      }

      @include mobile  {
        font-size: 1.4rem;
        max-width: none;
      }

      @include tablet {
        font-size: 1.5rem;
        line-height: 1.25;
      }
    }
  }

  .chat-messages {
    flex: 1;
    position: relative;
    background-image: url("../images/bg2.png");
    background-repeat: repeat;
    background-size: 40% auto;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(.05rem);

      @media (prefers-color-scheme: no-preference) {
        background-color: rgb(255 255 255 / 54%);
      }

      @media (prefers-color-scheme: light) {
        background-color: rgb(255 255 255 / 54%);
      }

      @media (prefers-color-scheme: dark) {
        background-color: rgb(8 92 42 / 17%);
      }
    }

    @include tablet {
      background: none;

      &::before {
        display: none;
      }
    }

    &__inner {
      position: relative;
      padding-block: 3rem 5rem;
      padding-inline: 1.5rem;
      z-index: 1;

      @include tablet {
        padding-inline: 2rem;
      }
    }
  }
}

.chat-message {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 2rem;
  transition: all 500ms ease;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  &.message--text {
    .chat-message__inner {
      border-radius: .2rem 1.5rem 1.5rem 1.5rem;
      box-shadow: 0 .3rem 1rem rgba(38, 36, 60, 0.07);
      max-width: max-content;
      padding-block: 1.5rem;
      padding-inline: 2rem;

      @media (prefers-color-scheme: light) {
        background-color: $white;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $primary;
      }

      @include mobile  {
        width: 80%;
      }
    }
  }

  &.message--user {
    margin-left: auto;
    display: block;
    max-width: max-content;

    .chat-message__inner {
      border-radius: 1.5rem 1.5rem .2rem 1.5rem;
      box-shadow: 0 .3rem 1rem rgba(38, 36, 60, 0.07);
      max-width: 55rem;
      padding-block: 1.5rem;
      padding-inline: 2rem;

      @media (prefers-color-scheme: light) {
        background-color: $white;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $primary;
      }
    }

    .chat-message__date {
      text-align: end;
    }
  }

  &.message--radio {

    .chat-message__text {
      border-radius: .2rem 1.5rem 1.5rem 1.5rem;
      box-shadow: 0 .3rem 1rem rgba(38, 36, 60, 0.07);
      max-width: max-content;
      padding-block: 1.5rem;
      padding-inline: 2rem;

      @media (prefers-color-scheme: light) {
        background-color: $white;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $primary;
      }
    }

    .chat-message__buttons {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem 1.4rem;
      max-width: 45rem;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .9rem 3rem;
        border-radius: 1.6rem;
        font-size: 1.4rem;
        background-color: $white;
        border: 2px solid $primary;
        line-height: 1;
        color: $primary;
        font-weight: 600;

        &:hover {
          background-color: $primary-hover;
          border-color: $primary-hover;
          color: $white;
        }

        &.active {
          color: $white;
          background-color: $primary-active;
          border-color: $primary-active;
        }

        @include tablet {
          font-size: 1.5rem;
        }
      }
    }

    .chat-message__date {
      display: none;
    }
  }

  &.message--cards {
    .chat-message__text {
      border-radius: .2rem 1.5rem 1.5rem 1.5rem;
      box-shadow: 0 .3rem 1rem rgba(38, 36, 60, 0.07);
      max-width: max-content;
      padding-block: 1.5rem;
      padding-inline: 2rem;

      @media (prefers-color-scheme: light) {
        background-color: $white;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $primary;
      }
    }

    .chat-message__cards {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      gap: 1.4rem;
      max-width: 85%;
    }

    .chat-message__buttons {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem 1.4rem;
      max-width: 45rem;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .9rem 3rem;
        border-radius: 1.6rem;
        font-size: 1.4rem;
        background-color: $white;
        border: 2px solid $primary;
        line-height: 1;
        color: $primary;
        font-weight: 600;

        &:hover {
          background-color: $primary-hover;
          border-color: $primary-hover;
          color: $white;
        }

        &.active {
          color: $white;
          background-color: $primary-active;
          border-color: $primary-active;
        }

        @include tablet {
          font-size: 1.5rem;
        }
      }
    }

    .chat-message__date {
      display: none;
    }
  }

  &.message--phone {
    .chat-message__text {
      border-radius: .2rem 1.5rem 1.5rem 1.5rem;
      box-shadow: 0 .3rem 1rem rgba(38, 36, 60, 0.07);
      max-width: max-content;
      padding-block: 1.5rem;
      padding-inline: 2rem;

      @media (prefers-color-scheme: light) {
        background-color: $white;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $primary;
      }
    }

    .chat-message__form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 32rem;

      input {
        border-color: $white;

        &:checked + .checkbox__box {

          @media (prefers-color-scheme: light) {
            border-color: $primary;
          }

          @media (prefers-color-scheme: dark) {
            border-color: $primary;
          }

          &::before {
            @media (prefers-color-scheme: light) {
              border-color: $primary;
            }

            @media (prefers-color-scheme: dark) {
              border-color: $primary;
            }
          }

        }
      }

      button[type="submit"] {

      }

      .checkbox {

        .checkbox__box {
          @media (prefers-color-scheme: light) {
            border-color: $white;
          }

          @media (prefers-color-scheme: dark) {
            border-color: $primary;
          }
        }

        span {
          @media (prefers-color-scheme: light) {
            color: $white;
          }

          @media (prefers-color-scheme: dark) {
            color: $primary;
            font-weight: 700;
          }

          a {
            @media (prefers-color-scheme: light) {
              color: $white;
            }

            @media (prefers-color-scheme: dark) {
              color: $primary;
            }
          }
        }
      }
    }

    .chat-message__date {
      display: none;
    }
  }

  &__buttons,
  &__cards {
    transition: transform $transition-default6, opacity $transition-default, visibility $transition-default;
  }

  &__inner {
    display: block;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-image: url("../images/bot.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: auto;

    @include tablet {
      width: 6rem;
      height: 6rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.55;

    @media (prefers-color-scheme: light) {
      color: $black;
    }

    @media (prefers-color-scheme: dark) {
      color: $white;
    }

    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__date {
    margin-top: 1rem;
    font-size: 1.25rem;

    @media (prefers-color-scheme: light) {
      color: $primary;
    }

    @media (prefers-color-scheme: dark) {
      color: $white;
    }
  }
}

@keyframes dots {
  0%, 20% {
    content: '.';
    opacity: 0.4;
  }
  40% {
    content: '..';
    opacity: 0.7;
  }
  60%, 100% {
    content: '...';
    opacity: 1;
  }
}

.chat-message {
  &[data-step="2"],
  &[data-step="3"],
  &[data-step="5"],
  &[data-step="8"],
  &[data-step="9"],
  {
    .chat-message__icon {
      opacity: 0;
    }
  }
}

.chat-card {
  border-radius: 1.6rem;
  background-color: $white;
  border: 2px solid $primary;
  padding: 2rem 1.5rem;
  cursor: pointer;

  &__img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    margin-top: 1.5rem;
  }

  &__title {
    color: $primary;
    font-size: 1.5rem;
    line-height: 1.35;
    font-weight: 600;

    @include tablet {
      font-size: 1.8rem;
    }
  }

  &__price {}

  &__meta {}
}

.chat-message-typing {
  margin-top: 2rem;
  margin-left: 8rem;

  .typing {
    display: inline-flex;
    align-items: center;
    gap: .4rem;
    font-size: 1.4rem;
    line-height: 1;
    color: $primary;
    font-style: italic;

    @include tablet {
      color: $white;
    }

  }

  .dots {
    display: inline-block;
    width: 3.6rem;
    text-align: left;

    &::after {
      content: '.';
      animation: dots 1.5s steps(5, end) infinite;
    }
  }
}
