$font-family: "Inter Tight", sans-serif;

$transition-default: .3s ease-in-out;
$transition-default6: .6s ease-in-out;

$primary: #065318;
$primary-hover: #07681e;
$primary-active: #084316;
$border: #dfe4e9;
$border-hover: #c9d0d9;
$border-disabled: #ebebeb;
$bg-disabled: #f2f2f2;
$text-disabled: #b5b5b5;
$border-secondary: #eaeef2;
$bg-base: #fff;
$bg-card: #f5f8fa;
$bg-white: #fff;
$white: #fff;

$black: #000;
$color-black: #000;
$blue: blue;
$red: red;
$grey-blue: #575797;
$light-grey: #a3a3a3;

$text: #262633;
$text-paragraph: #424352;
$text-secondary: #898ea2;
$text-teriary: #b4bbc8;
$text-light: #ffffff;


$radius-sm: .6rem;
$radius-md: 1.2rem;
$radius-lg: 1.6rem;

$transition: .3s ease-in-out;

$breakpoint-w1650: 1650px;
$breakpoint-laptop: 1440px;
$breakpoint-w1250: 1250px;
$breakpoint-desktop: 1024px;
$breakpoint-semiDesktop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-w650: 650px;
$breakpoint-mobile: 550px;
$breakpoint-small: 480px;
