@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// index
.page-main {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__inner {
    flex: 1;
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include semiDesktop {
      max-width: 85rem;
    }
  }

  .page-main-about {
    padding-block: 3rem;
    padding-inline: 2rem;

    @include mobile {
      padding-inline: 0;
    }

    @include tablet {
      padding-block: 6rem 4rem;
    }
  }

}
